<!DOCTYPE HTML>
<html>
<head>
    <title>Greeting!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="templates/favicon.ico" type="image/ico">
</head>
<body>
<div>Hello, {{name}}</div>
</body>
</html>
