<!DOCTYPE HTML>
<html>
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="templates/favicon.ico" type="image/ico">
</head>
    <body>
        <div>
            <form method="post">
                <input type="text" name="type" value="confirmation"/>
                <input type="text" name="group_id" value="177305058"/>
                <!--http://localhost:8080/?type=confirmation&group_id=177305058-->
                <button type="submit">Enter</button>
            </form>
        </div>
    </body>
</html>
